header
  div.flex.flex-wrap.items-center.p2
    div.mr-auto
      a(href="/").blue= settings.siteTitle
    div
      if locals.user
        a(href="/logout").ml2.blue Logout
        a(href="/profile").ml2.blue Profile
      else
        a(href="/login").ml2.blue Login
        a(href="/register").ml2.blue Register
