doctype html
html
  - const bodyClass = `body-${title.toLowerCase()}`
  
  head
    block title
      title= `${settings.siteTitle} - ${title}`
    
    block style
      link(rel="stylesheet", href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css")
      link(rel="stylesheet", href="./styles/app.css")
  
  body(class=bodyClass)
    div#site-wrapper
      include header
      
      div#page-wrapper
        block content
        include footer
    
    block scripts
      
